
<h1>Convert <%=@from_symbol%> </h1>

<p>Go <a href="/forex">back</a>.</p>

<ul>
<%@array_of_symbols.each do |a_symbol|%>
    <li>
      <a href="/forex/<%=@from_symbol%>/<%=a_symbol%>">
        Convert 1 <%=@from_symbol%> to <%=a_symbol%>...
      </a>
    </li>
    <%end%>
  </ul>
